<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".PartyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.PartyMaker"
        android:usesCleartextTraffic="true">

        <!-- Activity settings -->
        <activity
            android:name=".ui.common.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:theme="@style/Theme.Material3.Login" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:theme="@style/Theme.Material3.Register" />

        <activity android:name=".ui.common.MainActivity" />
        <activity android:name=".ui.group.FriendsAddActivity" />
        <activity android:name=".ui.group.CreateGroupActivity" />
        <activity android:name=".ui.group.AdminOptionsActivity" />
        <activity android:name=".ui.group.ChangeDateActivity" />
        <activity android:name=".ui.group.ChatActivity" />
        <activity android:name=".ui.group.MembersComingActivity" />
        <activity android:name=".ui.group.MembersInvitedActivity" />
        <activity
            android:name=".ui.group.FriendsRemoveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.group.UsersListActivity" />
        <activity android:name=".ui.group.JoinGroupActivity" />
        <activity android:name=".ui.group.AdminSettingsActivity" />
        <activity android:name=".ui.group.PartyMainActivity" />
        <activity 
            android:name=".ui.group.PublicGroupsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.settings.ServerSettingsActivity" />
        <activity android:name=".ui.chatbot.GptChatActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDummyKeyForTesting" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>